* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

@media (max-width:475px) {
    .container {
        max-width: 100%;
    }
}

/* Navigation */

.navigation {
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    border-bottom: 1px solid #FFF;
}

.nav-links {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.logo-holder {
    width: 6.5rem;
    height: 3.43863rem;
    flex-shrink: 0;
    margin-left: 1rem;
    margin-top: 1rem;
}

.logo {
    width: 100%;
}

.link-nav {
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 1s;
    cursor: pointer;
}

.link-nav:hover {
    text-transform: uppercase;
    text-decoration: underline;
}

.nav-button {
    border-radius: 0.2rem;
    background-color: #F40000;
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.5rem 0.6rem;
    margin-right: 1rem;
    transition: 1s;
    cursor: pointer;
}

.nav-button:hover {
    opacity: 0.7;
}

.menu-drop {
    display: none;
}

@media (max-width: 950px) {
    .menu-drop {
        display: flex;
        align-items: baseline;
    }

    .nav-links li {
        margin-bottom: 2rem;
    }

    .nav-links {
        margin-top: 80px;
        flex-direction: column;
        display: none;
        align-items: center;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Hero */

.hero {
    background-color: #000;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39.375rem;
    margin-bottom: 2.5rem;
}

.hero h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

/* About */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.about-intro {
    width: 75.83%;
    margin-bottom: 1.81rem;
}

.about-intro h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.94rem;
}

.about-intro p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.about-stats-display {
    width: 80.55%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 18.625rem));
    column-gap: 7.5rem;
    row-gap: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.13rem;
}

.stat:nth-child(7), .stat:nth-child(8), .stat:nth-child(9){
    display: none;
}

/*How to select different children at the same time*/

.stat {
    width: 20.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.percent-holder {
    background-color: #FF8585;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percent-holder h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.stat-info p {
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: calc(20.625rem - 10%);
}

.stat-info-middle p {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: calc(20.625rem - 10%);
}

.stat-info-end p {
    text-align: end;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: calc(20.625rem - 10%);
}

.about h6 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 1s;
    cursor: pointer;
}

.about h6:hover {
    letter-spacing: 0.1rem;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Upcoming Events */

.upcoming-events {
    margin-bottom: 2.5rem;
}

.upcoming-events h1 {
    color: #000;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 0.94rem;
}

.events-holder {
    background: rgba(0, 0, 0, 0.63);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.events-container {
    margin-top: 3.25rem;
    column-gap: 2rem;
    row-gap: 1.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 1300px) {
    .events-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:1272px) {
    .stat-info p, .stat-info-middle p, .stat-info-end p {
        text-align: center;
    }
}

@media (min-width : 900px) {
    .about-stats-display {
        column-gap: 4rem;
    }
}

@media (max-width:750px) {
    .event-card {
        flex-direction: column;
        border: 1px solid #FF8585;
        padding: 1rem;
    }

    .about-stats-display {
        column-gap: 3.5rem;
    }

    
}

.event-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.event-card:nth-child(5), .event-card:nth-child(6) {
    display: none;
}

.event-image {
    width: 15.625rem;
    height: 15.625rem;
    background-color: #FF8585;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.event-name h1 {
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25rem;
}

.event-location h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.event-date h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.events-holder h6 {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3.13rem;
    margin-bottom: 1.62rem;
}

.events-holder h6:hover {
    letter-spacing: 0.1rem;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Previous Event Highlights */